/* Reset de márgenes y estilo de fuente para el cuerpo del documento */
body{
    margin: 0;
    background: #DDD;
    font-family: sans-serif;
}

/* Contenedor principal: Actúa como marco de referencia para elementos con posición absoluta */
.contenedor{
    border: 2px solid black;
    margin: 30px 50PX;
    background: white;
    /* 
       CONTEXTO DE APILAMIENTO: 
       Al poner position: relative, este div se convierte en el punto (0,0) 
       para cualquier elemento hijo que tenga position: absolute.
    */
    position: relative;
}
.box{
    width: 100px;
    height: 100px;
    background: #db7;
    color: #fff;
    text-align: center;
}

/* Caja azul: Posicionada de forma absoluta */
.box-blue{
    background-color: #37d;
    /* 
       Saca el elemento del flujo documental. No ocupa espacio para sus hermanos.
       Se posiciona 40px desde el borde superior del '.contenedor' más cercano.
    */
    position: absolute;
    top: 40px;
    z-index: 20; /* Determina el orden en el eje Z (profundidad) */
}

/* Caja roja: Posición relativa */
.box-red{
    background: #E53;
    position: relative;
}